# Django
DEBUG=False
SECRET_KEY=change-me-to-a-long-random-secret
ALLOWED_HOSTS=127.0.0.1,localhost,SERVER_IP
CSRF_TRUSTED_ORIGINS=http://SERVER_IP:8000

# PostgreSQL
PGDATABASE=electrochemistry_lab
PGUSER=postgres
PGPASSWORD=change-me-to-a-strong-password
PGHOST=db
PGPORT=5432
