{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.full_text }}<br>
            <label for="{{ form.author.id_for_label }}">Signature:</label>
            {{ form.author }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit"> Submit</button>
        </form>
    </div>
{% endblock %}
