{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h1>{{ article.title }}</h1>
        <p><b>Author:</b> {{ article.author }}</p>
        <p>{{  article.date }}</p>
        <p class="note-message">{{ article.full_text }}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger"> Delete</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-info">  Edit </a>
    </div>
{% endblock %}
