<h3>Navigation</h3>
<ul>
    <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Home</li></a>
    <a href="{% url 'furnaces' %}"><li><i class="fa-solid fa-box-archive fa-rotate-180"></i> Furnaces</li></a>
    <a href="{% url 'equipments' %}"><li><i class="fa-solid fa-chart-line"></i> Equipment</li></a>
    <a href="{% url 'furnace_booking' %}"><li><i class="fa-solid fa-calendar-check"></i> Furnace booking</li></a>
    <a href="{% url 'equipment_booking' %}"><li><i class="fa-solid fa-calendar-check"></i> Equipment booking</li></a>
    <a href="{% url 'people' %}"><li><i class="fa-solid fa-users"></i> People</li></a>
    <li class="nav-divider"></li>
    <a href="{% url 'news_home' %}"><li><i class="fa-solid fa-newspaper"></i> Notes</li></a>
    <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i> About</li></a>
    <a href="{% url 'contacts' %}"><li><i class="fas fa-paper-plane"></i> Contacts</li></a>
</ul>
