<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furnace List</title>
</head>
<body>
<h1>Furnace List:</h1>
<table>

    <tbody>
    <tr>
        <th>Laboratory</th>
        <th>Furnace</th>
    </tr>
    {% for furnace in furnaces %}
    <tr>
        <td>&nbsp;&nbsp;{{ furnace.location }}&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;
            <a href="{% url 'furnace'%}?furnace={{ furnace.name|urlencode }}">{{furnace.name}}</a>
            &nbsp;&nbsp;
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>
